/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Author     : Abhijnya Bhat
*/


body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}